.headerNav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 1px solid #EAECF0;
}

.headerText h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #101828;
  margin-bottom: 0.4rem;
}

.headerText p {
  font-size: 1.6rem;
  color: #475467;
}

.headerIcon {
  padding: 1.2rem;
  cursor: pointer;
}

.headerIcon .number {
  position: relative;
  bottom: 1.2rem;
  left: 1rem;
  color: #fff;
  background-color: #F04438;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
